<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=K2D:wght@400;700&display=swap" rel="stylesheet">

<style>
    body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* pushes footer to bottom */
}

footer {
  background: #333;
  color: #fff;
  padding: 10px 0;
}


    /* Hero Section */
    .hero {
      position: relative;
      width: 100%;
      height: 100vh;
      /* full screen */
      background: url('/images/home.png') no-repeat center center;
      background-size: cover;
      display: flex;
      align-items: center;
      padding-left: 5%;
      color: black;
      text-align: left;
      z-index: 0;
    }

    .hero-content {
      max-width: 600px;
 
    }

    .hero h1 {
      font-size: 3rem;
      font-weight: bold;
    }

    .hero p {
      font-size: 1.2rem;
      margin-top: 15px;
    }
  
</style>
</head>


  <main>
    <body>
  <%- include('partials/header') %>

   <section class="hero">
      <div class="hero-content">
        <h2 style="font-weight: bolder">Welcome, <%= fullName %> 👋</h2>
        <h1 style="color: #F44211;font-family: 'K2D', sans-serif; font-weight: lighter;">CLICK. LEARN. GROW.</h1>
      <p style="font-size: 22px; font-weight: 500; line-height: 1.5; color: #000;">
  Learn from real-world experts from around the globe.<br>
  Get courses from <span style="font-size:28px; font-weight:700;">₹299</span>.
</p>

      </div>
    </section>
 
   
  </main>
 <%- include('partials/footer') %>
</body>
</html>
