     <!-- Profile image -->
                    <div class="profile-image">
                        <div class="image-wrapper">
                            <img src="<%= user.profilepic || '/images/default-avatar.png' %>" alt="User"
                                referrerpolicy="no-referrer">
                            <form action="/profile/upload-photo/<%= user._id %>" method="POST"
                                enctype="multipart/form-data">

                                <label for="photo" class="overlay">
                                    <i class="bi bi-upload"></i>
                                    <span>Upload Photo</span>
                                </label>
<input id="photo" 
       name="profile" 
       type="file" 
       hidden 
     onchange="if (this.files.length) { this.form.submit(); this.value = null; }"

/>
                            </form>
                        </div>
                        <small>Image size should be under 1MB and ratio 1:1</small>
                    </div>