@font-face{
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/playfair-display-400.woff2") format("woff2"),
       url("/fonts/playfair-display-400.woff") format("woff");
  font-display: swap;
}
/* header.css */
* { box-sizing: border-box; }
body {
  margin: 0 ;
  font-family: "Poppins", sans-serif;

}
.popup {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex; 
    align-items: center; 
    justify-content: center;
    z-index: 9999;
  }
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
      width: 90%;      /* 50% of viewport width */
  height: auto;     /* same as width */
  max-width: 500px; /* optional max size */
  max-height: 300px;
  z-index: 10000;
  }
  .popup-content input {
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;

  }
  .popup-content button {
    margin: 5px;
  }

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 /* background: url('/images/header3.png') no-repeat center center; */
 background-color: #ffffff;
  padding: 0.5rem 1rem;
  background-size: cover;
   background-position: center bottom;


}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;


}

.logo img {
  height: 80px;
  margin-left: 1rem;
  
  
}

.search-form input {
  border-radius: 20px;
  border: 1px solid #4BEADA;
  padding: 5px 10px;

}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1.2rem;

}

.nav-right a {
  text-decoration:none;
  color: grey;
  font-size: 1rem;
 font-weight: 700;
font-family: "Montserrat", sans-serif;



   
}
   .nav-right a:hover {
      color:  #4BEADA;
      /* Bootstrap primary */
      border-bottom: 2px solid #4BEADA;
    }
.nav-right i {
  font-size: 1.2rem;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #333;
  width: 100%;          /* take full width of parent */
  max-width: 90%;      /* do not exceed container */
  font-size: 3rem;      /* desktop font size */
  animation: typing 4s steps(16) infinite, blink 0.7s step-end infinite;
}

@keyframes typing {
  0%   { width: 0; }
  40%  { width: 100%; }  /* fully typed */
  60%  { width: 100%; }  /* hold */
  100% { width: 0; }     /* erase */
}

@keyframes blink {
  50% { border-color: transparent; }
}

/* Responsive font size */
@media (max-width: 768px) {
  .typewriter {
    font-size: 1.5rem !important;
     width: 100%;          
    max-width:100%;     /* fit smaller screens */
  }
}



/* Menu toggle (burger) */
.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10001;
  color: black;
}

/* Responsive */
@media (max-width: 768px) {

  .nav-right {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;

    background: #4BEADA;
    width: 100%;
    padding: 1rem;
    z-index: 9999;
  }

  .nav-right.show {
    display: flex;
    justify-content: end;
  }

  .menu-toggle {
    display: block;
  }
}

.bg-category {
  background-color: #4beada84; /* teal tone */
  color: #fff;
}


.join-btn {
      background: white;
      color: #4BEADA;
      font-weight: bold;
      border-radius: 6px;
      padding: 6px 12px;
    }


    
 /* Dark theme pagination */
    .pagination-dark .page-link {
      background: #1a1a1a;
      color: #fff;
      border: none;
      margin: 0 5px;
      /* tighter spacing */
      width: 32px;
      /* equal width/height */
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      /* smaller font */
      padding: 0;
      /* remove Bootstrap default padding */
    }

    /* Active page circle */
    .pagination-dark .active .page-link {
      background: #1abc9c;
      border-radius: 50%;
    }

    /* Round prev/next as well */
    .page-link.rounded-circle {
      border-radius: 50% !important;
    }






.profile-img {
width: 1.8rem;
height: 1.7rem;
  object-fit: cover;
  border-radius: 100px;
  border: 2px solid #4BEADA; /* optional highlight */
  transition: transform 0.3s ease;

}

.profile-img:hover {
  transform: scale(1.05);
  border: 1px solid #D2042D;
}


