body {
  background: #000000;

}
.course-card-custom {
  background-color: #000;         /* black background */
  color: #fff;                    /* white text */
  border-radius: 1rem;            /* rounded corners */
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 160px;
  border: 1px solid #333;         /* subtle border */
}


.course-title {
  font-weight: 600;
  white-space: nowrap;            /* keeps in one line */
  overflow: hidden;
  text-overflow: ellipsis;        /* adds ... if too long */
}

.custom-divider {
  border: 0;
  border-top: 1px solid #666;     /* grey divider line */
  margin: 0;
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  min-height: 100vh;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1030; /* above content */
  overflow-y: auto;
}

.bg-beginner {
  background-color: #1e3d59; /* blue tone */
  color: #fff;
}

.bg-intermediate {
  background-color: #3c6e71; /* teal tone */
  color: #fff;
}

.bg-advanced {
  background-color: #8b0000; /* dark red tone */
  color: #fff;
}

/* Sidebar fixed on the left
.sidebar {
  width: 250px;
  min-height: 100vh;
  background: #111;
  position: fixed;
  top: 0;
  left: 0;
   display: flex;
  flex-direction: column;
  justify-content: space-between;
} */



/* .sidebar {
  width: 250px;
  background: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.sidebar .profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.sidebar .nav-link {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar .nav-link:hover {
  background: #222;
  border-radius: 8px;
}

.main-content {
  background: #000000;
  margin-left: 250px;

}

.card {
  border-radius: 10px;
  background: black;
  color: white;
}
.logo-img {
  width: 80px;
  height: auto;
}

.profile-pic-wrapper {
  position: relative;
}



.edit-btn {
  top: 0; /* adjust vertical position */
  right: -10px; /* adjust horizontal position */
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 14px;
  background-color: #2fb5a6;;
}
.sidebar .nav-link.active {
  background-color: #242020;  /* dark shade for active item */
  border-left:3px solid  #40e0d0; /* vertical line on left */
  padding-left: 8px;              /* add some padding so text doesn't overlap */
  color:  #40e0d0 !important; /* optional, makes text color different */
}
