<header class="navbar">
  <div class="nav-left">
    <!-- Logo -->
    <a href="/home" class="logo">
      <img src="/images/logo.png" alt="BrainElevate Logo" />

    </a>

    <!-- Search bar -->
    <form action="/search" method="get" class="search-form">
      <input type="text" name="q" placeholder="Search..." />
    </form>
  </div>

  <div class="nav-right">
    <a href="/career">Career</a>
    <a href="/courses">Courses</a>
    <a href="/mylearning">My Learning</a>

    <!-- Icons -->
    <a href="/wishlist"><i class="fa fa-heart"></i></a>
    <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
    <a href="/profile"><i class="fa fa-user"></i></a>
  </div>
</header>
