<div class="sidebar">
<div class="profile-section text-center p-3 position-relative " >
  <!-- Logo on top -->
  <div><img src="/images/logo.png" alt="Logo" class="logo-img mb-2"></div>

  <!-- Profile container to hold picture and edit button -->
  <div class="profile-pic-wrapper position-relative d-inline-block">
    <img src="/images/defualt dp.svg" alt="Profile" class="profile-img rounded-circle mb-2">
    
    <!-- Edit button -->
    <button class="btn btn-sm  edit-btn position-absolute">
      <i class="bi bi-pencil"></i>
    </button>
  </div>

  <h5 class=" mt-2">Miakel Corper</h5>
  <p class="text" style="color: aqua;">Super Admin</p>
</div>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a href="/admin/superadmindashboard" class="nav-link text-white"> 
        <i class="bi bi-speedometer2"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a href="/courses" class="nav-link text-white"> 
        <i class="bi bi-journal-bookmark"></i> Courses
      </a>
    </li>
    <li class="nav-item">
      <a href="/manage-admin" class="nav-link text-white"> 
        <i class="bi bi-person-badge"></i> Manage Admin
      </a>
    </li>
    <li class="nav-item">
      <a href="/manage-students" class="nav-link text-white"> 
        <i class="bi bi-people"></i> Manage Students
      </a>
    </li>
    <li class="nav-item">
      <a href="/orders" class="nav-link text-white"> 
        <i class="bi bi-card-checklist"></i> Order Management
      </a>
    </li>
    <li class="nav-item">
      <a href="/revenue" class="nav-link text-white"> 
        <i class="bi bi-cash-coin"></i> Revenue
      </a>
    </li>
  </ul>

  <div class="logout-section p-3">
    <a href="/logout" class="btn  btn-outline-danger w-100" style="border-radius: 50px;">Logout</a>
  </div>
</div>
<script>
  const currentPath = window.location.pathname;
  const links = document.querySelectorAll('.sidebar .nav-link');

  links.forEach(link => {
    console.log(currentPath)
    if(link.getAttribute('href') === currentPath) {
      link.classList.add('active');
    }
  });
</script>


